@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-rubik {
  font-family: var(--font-rubik);
}

.font-inter {
  font-family: var(--font-inter);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0px #00ffffcc, 0 0 8px #00ffffcc, 0 0 13px #00ffffcc, 0 0 15px #00ffffcc;
  }

  50% {
    text-shadow: 0 0 8px #00ffffcc, 0 0 15px #00ffffcc, 0 0 20px #00ffffcc, 0 0 25px #00ffffcc;
  }

  100% {
    text-shadow: 0 0 0px #00ffffcc, 0 0 8px #00ffffcc, 0 0 13px #00ffffcc, 0 0 15px #00ffffcc;
  }
}

@keyframes box-glow {
  0% {
    box-shadow: 0 0 0px #00ffffcc, 0 0 8px #00ffffcc, 0 0 13px #00ffffcc, 0 0 15px #00ffffcc;
  }

  50% {
    box-shadow: 0 0 8px #00ffffcc, 0 0 15px #00ffffcc, 0 0 20px #00ffffcc, 0 0 25px #00ffffcc;
  }

  100% {
    box-shadow: 0 0 0px #00ffffcc, 0 0 8px #00ffffcc, 0 0 13px #00ffffcc, 0 0 15px #00ffffcc;
  }
}

@keyframes lightModeAnimation {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.3;
  }
}

@keyframes darkModeAnimation {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.5;
  }
}